.form-select {
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    height: 40px!important;
    margin-top: 10px;
}
.form-select:focus {
    border-color: #17458c;
    outline: 0;
    box-shadow: inset 0 1px 1px #00000014, 0 0 8px #66afe999;
}

body {
    font-family: open_sansregular,Helvetica,Arial,sans-serif!important;
    color: #656565!important;
    height: 100%;
    font-size: 12px;
    background-color: #edeceb!important;
    font-weight: 400;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.form-sapcing {
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.appointment-header {
    border-bottom: 1px #E7E9EA solid;
    color: #17458c;
    font-size: 20px;
    padding: 10px 0;
    margin-left : 20px;
}
.web-container {
    background-color: #fff;
    padding-left: 300px;
    padding-right: 300px;
}
.dropdownContainer {
    margin: 20px;
    width: 200px;
}
.navbar {
    background-color: #f9f8f7;
    /* background-image: url(/assets/images/top-menu-bg.jpg); */
    background-repeat: repeat-x;
    border-radius: 0;
    z-index: 999;
    border: 0;
    height: 56px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
}
.tablehead {
    background-color: #17458c;
    color: #fff;
    vertical-align: bottom;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
}
th {
    width: 25%;
    border: 1px #ccc solid;
    padding: 5px;
}
.emailInput {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
}
input:focus{
    outline: none;
}