.form-select {
    padding: 10px;
    display: block;
    width: 18vw;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    height: 40px!important;
    margin-top: 10px;
}
.form-select:focus {
    border-color: #17458c;
    outline: 0;
    box-shadow: inset 0 1px 1px #00000014, 0 0 8px #66afe999;
}

.standard-select {
    width: 14vw;
}

body {
    font-family: open_sansregular,Helvetica,Arial,sans-serif!important;
    color: #000000!important;
    height: 100%;
    font-size: 14px;
    background-color: #ffffff!important;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.container{
    color: #000;
    justify-content: center;
    align-items: center;
    margin-inline: 15vw;
}

.form {
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.form-sapcing {
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.appointment-header {
    border-bottom: 1px #E7E9EA solid;
    color: #17458c;
    font-size: 5vh;
    padding: 10px 0;
    margin-left : 20px;
}
.web-container {
    background-color: #fff;
    padding-left: 50vh;
    /* padding-right: 50vh; */
    margin-left : 10px;
    min-height: 90vh;
}
.dropdownContainer {
    margin-top: 20px;
    width: 21vw;
}
.navbar {
    background-color: #f9f8f7;
    /* background-image: url(/assets/images/top-menu-bg.jpg); */
    background-repeat: repeat-x;
    border-radius: 0;
    z-index: 999;
    --bs-navbar-padding-y : 1;
    --bs-navbar-brand-padding-y : 0;
    border: 0;
    height: 60px;
}

.navbar-brand{
    width: max-content;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 70%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
}
.tablehead {
    background-color: #52a0d7;
    color: #fff;
    vertical-align: bottom;
}
.card{
    background-color: #fdfbfd;
}

.w-35 {
    width: 35%;
}

.w-80 {
    width: 80%;
}

html, body {
    overscroll-behavior: none   ;
}


tbody, tfoot, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    width: 60%;
} 
td {
    border-width: 0cap;
    font-size: large;
    color: #000;
    border-width: 2px;
    padding-left: 5vh;
}
th {
    border: 1px #ccc solid;
    padding: 5px;
}

.emailInput {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
}
.nameInput {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
}
input:focus{
    outline: none;
}
